@charset "utf-8";

/* ================================================================================================== */
/* assets - FONTS */
/* ================================================================================================== */

/* for any unique fonts used */


/* ================================================================================================== */
/* reset - ALL */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* common */
.calendarView div,   .calendarView p,
.calendarView ul,    .calendarView ol, .calendarView li,
.calendarView ul ul, .calendarView ul ol,
.calendarView ol ul, .calendarView ol ol,
.calendarView ul li, .calendarView ol li, .calendarView li li	{ margin:0; padding:0; list-style:none; zoom:1;/*IE6 fix*/ }
.calendarView ul,    .calendarView ol 							{ position:relative; list-style:none; background:none; }
.calendarView img												{ border:none; }

/* ------------------------------------------------------------------------------ */
/* layout */
.calendarView .clear 	{ clear:both; }
.calendarView .clearer 	{ float:none; clear:both; height:0; line-height:0; overflow:hidden; visibility:hidden; }

/* ------------------------------------------------------------------------------ */
/* interaction */
.calendarView a:focus 	{ outline:0 none!important; }

/* ------------------------------------------------------------------------------ */
/* touch */
.calendarView * { 
	-webkit-tap-highlight-color:rgba(0,0,0,0); 
	-webkit-touch-callout:none;
	-webkit-user-select:none;
	-webkit-user-drag:element;
	/*touch-action*/-ms-touch-action:none; touch-action:none; }


/* ================================================================================================== */
/* calendarView */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* container */
.calendarView {
	position:relative; width:auto; margin:0 auto; padding:0; float:none; clear:both; overflow:visible;
	background:none; }

	/* ------------------------------------------------------------------------------ */
	/* calendarViewHeader */
	.calendarView .calendarViewHeader {
		position:relative; width:100%; height:auto; overflow:visible; 
		background:none; }
		
		/* ------------------------------------------------------------------------------ */
		/* heading */
		.calendarView .calendarViewHeader .heading {
			width:auto; margin:0 100px 5% 65px; padding:0; overflow:hidden;
			color:#373737; font-size:45px; font-weight:300; line-height:1em; }
		
		/* ------------------------------------------------------------------------------ */
		/* navigation */
		.calendarView .calendarViewHeader .nav { 
			position:absolute; top:0; left:0; width:60px; height:45px; overflow:hidden; }
			
			/* btnNav */
			.calendarView .calendarViewHeader .nav .btnNav {  
				display:block; position:absolute; top:0; left:0; width:50%; height:100%; margin:0; padding:0; overflow:hidden;
				color:#afafaf; font-size:28px; line-height:45px; text-align:center; 
				text-decoration:none; }
			.calendarView .calendarViewHeader .nav .btnNavNext { left:50%; }

				/* icon */
				.calendarView .calendarViewHeader .nav .btnNav .icon { 
					top:0; left:0; width:100%; height:100%; line-height:45px; cursor:pointer!important;
					/*transition*/
					-webkit-transition:none;
					-moz-transition:none;
					-o-transition:none;
					transition:none; }
			
			/* btnNav interaction */
			.no-touch .calendarView .calendarViewHeader .nav .btnNav:hover,
			.touch .calendarView .calendarViewHeader .nav .btnNav:active { 
				color:#1082e2; text-decoration:none; cursor:pointer; }
			
		/* ------------------------------------------------------------------------------ */
		/* view */
		.calendarView .calendarViewHeader .view { 
			position:absolute; top:0; right:0; width:90px; height:45px; overflow:visible; }
			
			/* btnView */
			.calendarView .calendarViewHeader .view .btnView { 
				position:absolute; top:0; left:0; width:50%; height:100%; margin:0; padding:0; overflow:hidden;
				color:#d8d8d8; background:#fff;
				font-size:28px; line-height:45px; text-align:center;
				text-decoration:none; }
			.calendarView .calendarViewHeader .view .btnViewList { left:50%; }
			
				/* icon */
				.calendarView .calendarViewHeader .view .btnView .icon,
				.calendarView .calendarViewHeader .view .btnView.selected .icon { 
					top:0; left:0; width:100%; height:100%; line-height:45px; cursor:pointer!important;
					/*transition*/
					-webkit-transition:none;
					-moz-transition:none;
					-o-transition:none;
					transition:none; }
					
			/* btnView interaction */
			.no-touch .calendarView .calendarViewHeader .view .btnView:hover,
			.touch .calendarView .calendarViewHeader .view .btnView:active { 
				color:#fff; background:#d9a600; text-decoration:none; cursor:pointer; }
			
			/* btnView selected */
			.calendarView .calendarViewHeader .view .btnView.selected,
			.no-touch .calendarView .calendarViewHeader .view .btnView.selected:hover,
			.touch .calendarView .calendarViewHeader .view .btnView.selected:active { 
				color:#fff; background-color:#1082e2; cursor:default!important; pointer-events:none; }
				
				/* icon */
				.calendarView .calendarViewHeader .view .btnView.selected .icon,
				.no-touch .calendarView .calendarViewHeader .view .btnView.selected:hover .icon,
				.touch .calendarView .calendarViewHeader .view .btnView.selected:active .icon { 
					cursor:default!important; }
		
	/* ------------------------------------------------------------------------------ */
	/* calendarViewWeekBar */
	.calendarView .calendarViewWeekBar { 
		height:50px; overflow:hidden; 
		background:none; }
		
		/* day */
		.calendarView .calendarViewWeekBar li { 
			position:absolute; top:0; height:100%; }
			
			/* text */
			.calendarView .calendarViewWeekBar li span {
				display:block; width:auto; height:auto; padding:0 10%;overflow:hidden; white-space:nowrap; text-overflow:ellipsis;
				color:#7b7b7b; font-size:16px; font-weight:600; line-height:50px; text-align:left; text-transform:uppercase; }
			
			/* shortLabel */
			.calendarView .calendarViewWeekBar li .shortLabel { display:none; }
	
	/* ------------------------------------------------------------------------------ */
	/* calendarViewMsg */
	.calendarView .calendarViewMsg { 
		position:relative; width:60%; height:auto; margin:5% auto; padding:2%; overflow:hidden;
		color:#000; background:#fff;
		font-size:18px; font-weight:400; line-height:24px; text-align:center; }
	.calendarView .calendarViewMsg,
	.calendarView .calendarViewMsg .msg { display:none; }
	
	/* ------------------------------------------------------------------------------ */
	/* calendarViewBody */
	.calendarView .calendarViewBody { width:100%; background:none; }


/* ================================================================================================== */
/* msg */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* noEvents */
.calendarView.noEvents .calendarViewHeader .view { display:none; }
.calendarView.noEvents .calendarViewWeekBar { height:10px; }
.calendarView.noEvents .calendarViewWeekBar li { display:none; }
.calendarView.noEvents .calendarViewMsg,
.calendarView.noEvents .calendarViewMsg .msgNoEvents { display:block; }
.calendarView.noEvents .calendarViewBody { display:none; }


/* ================================================================================================== */
/* month, week, day */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* month */
.calendarView .month {  }
	
/* ------------------------------------------------------------------------------ */
/* week */
.calendarView .week { position:relative; height:auto; min-height:100px; margin-bottom:0.5%; overflow:visible; }
	
	/* ------------------------------------------------------------------------------ */
	/* bg */
	.calendarView .week .bg { 
		position:absolute; top:0; left:0; width:100%; height:100%; margin:0; padding:0; }
		
/* ------------------------------------------------------------------------------ */
/* day */
.calendarView .day {
	position:absolute; top:0; height:auto; min-height:100px; margin:0; padding:0; overflow:visible; 
	background:none; border:none; }

	/* ------------------------------------------------------------------------------ */
	/* day (weekends) */
	.calendarView .day.weekends { }
		
		/* day6/7 */
		.calendarView .day.weekends .day { position:relative; }

/* ------------------------------------------------------------------------------ */
/* dayBg */
.calendarView .dayBg {
	position:absolute; top:0; height:100%; min-height:100px; margin:0; padding:0; overflow:hidden; 
	background:#fbfbfb;
	/*box-sizing*/-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }

/* old IE fix */
.oldie .calendarView .dayBg { border:none; }

/* dayBg (extend themes) */
.calendarView .dayBg.today 				{ background:#d9a600; } 
.calendarView .dayBg.pastMonth,
.calendarView .dayBg.nextMonth 			{ background:#f3f3f3; }

/* old IE fix */
.oldie .calendarView .dayBg.today,	
.oldie .calendarView .dayBg.pastMonth,
.oldie .calendarView .dayBg.nextMonth 	{ border:none; }
.oldie .calendarView .dayBg.pastMonth,
.oldie .calendarView .dayBg.nextMonth 	{ background:#f3f3f3; }
	
/* ------------------------------------------------------------------------------ */
/* date */
.calendarView .day .date { 
	position:absolute; top:8px; left:10%; padding:0; width:auto; height:auto; overflow:hidden;
	font-size:30px; font-weight:300; line-height:1em; }

/* date (extend themes) */
.calendarView .pastMonth .date,
.calendarView .nextMonth .date 		{ color:#959595; }
.calendarView .currentMonth .date 	{ color:#3a3a3a; }
.calendarView .today .date 			{ color:#fff; font-size:48px; }


/* ================================================================================================== */
/* calendarView - LAYOUT VALUES */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* day width */
.calendarView .calendarViewWeekBar li, 
.calendarView .day,
.calendarView .dayBg						{ width:16.25%; /* (100 - 5 * gap(0.5)) / 6 */ } 

/* day position */
.calendarView .day1							{ left:0; }
.calendarView .day2							{ left:16.75%; }
.calendarView .day3							{ left:33.5%; }
.calendarView .day4							{ left:50.25%; }
.calendarView .day5							{ left:67%; }
.calendarView .day6,						
.calendarView .day.weekends					{ left:83.75%; }
.calendarView .day.weekends .day6,
.calendarView .day.weekends .day7			{ top:auto; left:auto; width:auto; height:auto; min-height:65px; }
.calendarView .day.weekends .day7			{ margin-top:0; }


/* ================================================================================================== */
/* entry */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ */
/* entries */
.calendarView .entries { width:auto; padding-top:60px; }

/* entry round corners */
.calendarView .entries,
.calendarView .entry { }

	/* ------------------------------------------------------------------------------ */
	/* entry container */
	.calendarView .entry { width:auto; overflow:hidden; margin:5px 0 0 0; }
	
		/* ------------------------------------------------------------------------------ */
		/* entry event */
		.calendarView .entry a,
		.calendarView .entry .event { 
			display:block; width:auto; padding:8% 10%;
			background:#1676cf; }
		.calendarView .entry .event {
			background:#555; }
		
		/* entry event (extend themes) */
		.calendarView .pastMonth .entry a,
		.calendarView .nextMonth .entry a 				{ background:#b8c1c7; }
		.calendarView .pastMonth .entry .event,
		.calendarView .nextMonth .entry .event 			{ background:#ccc; }
		
		/* old IE fix */
		.oldie .calendarView .pastMonth .entry a,
		.oldie .calendarView .nextMonth .entry a 		{ background:#b8c1c7; }
		.oldie .calendarView .pastMonth .entry .event,
		.oldie .calendarView .nextMonth .entry .event 	{ background:#ccc; }
	
		/* entry event interaction */
		.calendarView .entry a,
		.calendarView .entry a:link,
		.calendarView .entry a:visited,
		.calendarView .entry .event 			{ color:#fff; text-decoration:none; }
		.no-touch .calendarView .entry a:hover,
		.touch .calendarView .entry a:active 	{ color:#fff; background:#373737; text-decoration:none; }
	
		/* entry event text style */
		.calendarView .entry a span,
		.calendarView .entry .event span {
			display:block; color:#fff; font-size:15px; font-weight:400; line-height:18px; margin:0; }
		.calendarView .entry a .time,
		.calendarView .entry .event .time { 
			font-size:13px; font-weight:400; }


/* ================================================================================================== */
/* calendarView - calendarViewList */
/* ================================================================================================== */

/* ------------------------------------------------------------------------------ 
   STRUCTURE 
   ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* container */
.calendarViewList { }

	/* ------------------------------------------------------------------------------ */
	/* calendarViewHeader */
	.calendarViewList .calendarViewHeader 		{ }

	/* ------------------------------------------------------------------------------ */
	/* calendarViewWeekBar */
	.calendarViewList .calendarViewWeekBar,
	.calendarViewList .calendarViewWeekBar li 	{ display:none; }

	/* ------------------------------------------------------------------------------ */
	/* calendarViewBody */
	.calendarViewList .calendarViewBody 		{ background:#fff; }


/* ------------------------------------------------------------------------------ 
   MONTH, WEEK, DAY 
   ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* month */
.calendarViewList .month { }
	
/* ------------------------------------------------------------------------------ */
/* week */
.calendarViewList .week { height:auto!important; min-height:0; margin:0; }
	
	/* ------------------------------------------------------------------------------ */
	/* bg */
	.calendarViewList .week .bg { display:none; }
		
/* ------------------------------------------------------------------------------ */
/* day */
.calendarViewList .day {
	display:none; position:relative; top:auto; height:auto; min-height:0; margin:0; padding:0; overflow:visible; 
	background:#fff; border:none; }

/* only shows days with events */
.calendarViewList .day.hasData { display:block; }

/* date (extend themes) */
.calendarViewList .pastMonth,
.calendarViewList .nextMonth 		{ background:#fbfbfb; }
.calendarViewList .currentMonth 	{ background:#fff; }
.calendarViewList .today 			{ background:#fff; }

/* oldie IE fix */
.oldie .calendarViewList .pastMonth,
.oldie .calendarViewList .nextMonth { background:#fbfbfb; }

	/* ------------------------------------------------------------------------------ */
	/* day (weekends) */
	.calendarViewList .day.weekends {  }
		
		/* day6/7 */
		.calendarViewList .day.weekends .day {  }

/* ------------------------------------------------------------------------------ */
/* dayBg */
.calendarViewList .dayBg { display:none; }
	
/* ------------------------------------------------------------------------------ */
/* date */
.calendarViewList .day .date { 
	position:relative; top:auto; left:auto; padding:8px 10px;
	font-size:16px; line-height:20px; font-weight:600; }

	/* date (extend themes) */
	.calendarViewList .pastMonth .date,
	.calendarViewList .nextMonth .date 		{ background-color:transparent; }
	.calendarViewList .currentMonth .date 	{ background-color:#373737; color:#fff; }
	.calendarViewList .today .date 			{ background-color:#d9a600; }
	
	/* date (day text) */
	.calendarViewList .day .date:after 		{ content:''; position:relative; float:right; font-size:16px; }
	.calendarViewList .day.day1 .date:after { content:'Monday'; }
	.calendarViewList .day.day2 .date:after { content:'Tuesday'; }
	.calendarViewList .day.day3 .date:after { content:'Wednesday'; }
	.calendarViewList .day.day4 .date:after { content:'Thursday'; }
	.calendarViewList .day.day5 .date:after { content:'Friday'; }
	.calendarViewList .day.day6 .date:after { content:'Saturday'; }
	.calendarViewList .day.day7 .date:after { content:'Sunday'; }
	

/* ------------------------------------------------------------------------------ 
   DAY LAYOUT 
   ------------------------------------------------------------------------------ */
   
/* ------------------------------------------------------------------------------ */
/* day width */
.calendarViewList .calendarViewWeekBar li, 
.calendarViewList .day,
.calendarViewList .dayBg						{ width:auto; } 

/* day position */
.calendarViewList .day1,							
.calendarViewList .day2,							
.calendarViewList .day3,							
.calendarViewList .day4,							
.calendarViewList .day5,							
.calendarViewList .day6,
.calendarViewList .day7,
.calendarViewList .day.weekends					{ left:auto; }
.calendarViewList .day.weekends .day6,
.calendarViewList .day.weekends .day7			{ min-height:0; margin:0; }


/* ------------------------------------------------------------------------------ 
   ENTRY 
   ------------------------------------------------------------------------------ */

/* ------------------------------------------------------------------------------ */
/* entries */
.calendarViewList .entries { padding:0; }

/* entry round corners */
.calendarViewList .entries,
.calendarViewList .entry { /*border-radius*/-webkit-border-radius:0px; border-radius:0px; }

	/* ------------------------------------------------------------------------------ */
	/* entry container */
	.calendarViewList .entry { width:auto; overflow:hidden; margin:0; padding:0; border-bottom:1px solid #ebebeb; }
	.calendarViewList .entry:last-child { border-bottom:none; }
	
	/* entry container (theme) */
	.calendarViewList .pastMonth .entry,
	.calendarViewList .nextMonth .entry { border-bottom-color:#ebebeb; }
	
		/* ------------------------------------------------------------------------------ */
		/* entry event */
		.calendarViewList .entry a,
		.calendarViewList .entry .event { 
			position:relative; padding:15px 10px; 
			background:none; }
		
		/* entry event (extend themes) */
		.calendarViewList .pastMonth .entry a,
		.calendarViewList .pastMonth .entry .event,
		.calendarViewList .nextMonth .entry a,
		.calendarViewList .nextMonth .entry .event,
		.oldie .calendarViewList .pastMonth .entry a,
		.oldie .calendarViewList .pastMonth .entry .event,
		.oldie .calendarViewList .nextMonth .entry a,
		.oldie .calendarViewList .nextMonth .entry .event 	{ background:none; }
	
		/* entry event interaction */
		.calendarViewList .entry a,
		.calendarViewList .entry a:link,
		.calendarViewList .entry a:visited,
		.calendarViewList .entry a span,
		.calendarViewList .entry a:link span,
		.calendarViewList .entry a:visited span,
		.calendarViewList .entry .event 					{ color:#373737; text-decoration:none; }
		.calendarViewList .entry .event						{ color:#888; }
		
		.no-touch .calendarViewList .entry a:hover,
		.touch .calendarViewList .entry a:active,
		.no-touch .calendarViewList .entry a:hover span,
		.touch .calendarViewList .entry a:active span 		{ color:#1082e2; background:none; text-decoration:none; }
	
		/* entry event text style */
		.calendarViewList .entry a span,
		.calendarViewList .entry .event span 				{ display:block; color:#373737; font-size:16px; line-height:20px; }
		.calendarViewList .entry .event span 				{ color:#888; }
		
		.calendarViewList .entry a .title,
		.calendarViewList .entry .event .title { 
			padding-right:100px;
			/*transition*/
			/*-webkit-transform:translate3d(0,0,0);*/
			-webkit-transition:color 0.3s ease-in-out;
			-moz-transition:color 0.3s ease-in-out;
			-o-transition:color 0.3s ease-in-out;
			transition:color 0.3s ease-in-out; }
		.calendarViewList .entry a .time,
		.calendarViewList .entry .event .time { 
			position:absolute; top:15px; right:10px; width:120px; height:20px;
			color:#b3b3b3!important; text-decoration:none!important;
			font-size:16px; font-weight:400; text-align:right;  }


/* ================================================================================================== */
/* calendarView - RESPONSIVE */
/* ================================================================================================== */

/* up stream */
@media only screen and (min-width:1000px) {

	/* -------------------------------------------------------------------------- */
	/* bigger list */

	/* date */
	.calendarViewList .day .date 			{ padding:16px 20px; font-size:22px; line-height:1em; font-weight:600; }
	.calendarViewList .day .date:after 		{ font-size:22px; font-weight:300; }
	
	/* a/event */
	.calendarViewList .entry a,
	.calendarViewList .entry .event 		{ padding:25px 20px 15px 20px; }
	
	.calendarViewList .entry a span,
	.calendarViewList .entry .event span 	{ font-size:18px; line-height:24px; }
	
	.calendarViewList .entry a .title,
	.calendarViewList .entry .event .title	{ padding-right:160px; }
	
	.calendarViewList .entry a .time,
	.calendarViewList .entry .event .time 	{ top:25px; right:20px; width:150px; height:24px; }
	
}
@media only screen and (min-width:1600px) {

	/* -------------------------------------------------------------------------- */
	/* even bigger list */
	
	/* date */
	.calendarViewList .day .date 			{ padding:16px 30px; font-size:30px; line-height:1em; font-weight:400; }
	.calendarViewList .day .date:after 		{ font-size:30px; font-weight:300; }
	
	/* a/event */
	.calendarViewList .entry a,
	.calendarViewList .entry .event 		{ padding:30px 30px 15px 30px; }
	
	.calendarViewList .entry a span,
	.calendarViewList .entry .event span 	{ font-size:20px; }
	
	.calendarViewList .entry a .title,
	.calendarViewList .entry .event .title	{ padding-right:180px; }
	
	.calendarViewList .entry a .time,
	.calendarViewList .entry .event .time 	{ top:30px; right:30px; width:170px; }

}

/* down stream */
@media only screen and (max-width:640px) {
	
	/* ------------------------------------------------------------------------------ */
	/* heading */
	.calendarView .calendarViewHeader .heading { margin-left:0; font-size:40px; line-height:45px; }
		
	/* ------------------------------------------------------------------------------ */
	/* navigation */
	.calendarView .calendarViewHeader .nav { left:auto; right:0; }
		
	/* ------------------------------------------------------------------------------ */
	/* view */
	.calendarView .calendarViewHeader .view { display:none; }
	
}
@media only screen and (max-width:500px) {
	
	/* ------------------------------------------------------------------------------ */
	/* heading */
	.calendarView .calendarViewHeader .heading { margin-right:80px; font-size:24px; line-height:30px; }
	
	/* ------------------------------------------------------------------------------ */
	/* navigation */
	.calendarView .calendarViewHeader .nav { width:60px; height:30px; }
		
		/* btnNav */
		.calendarView .calendarViewHeader .nav .btnNav { position:absolute; top:0; width:30px; margin-top:0; }
		.calendarView .calendarViewHeader .nav .btnNavPrev { left:0; }
		.calendarView .calendarViewHeader .nav .btnNavNext { right:0; }
			
			/* icon */
			.calendarView .calendarViewHeader .nav .btnNav,
			.calendarView .calendarViewHeader .nav .btnNav .icon { line-height:30px; }
			
	/* -------------------------------------------------------------------------- */
	/* entries */
	.calendarViewList .entry a,
	.calendarViewList .entry .event 		{ padding:8px 10px; }
	
	.calendarViewList .entry a span,
	.calendarViewList .entry .event span 	{ font-size:14px; line-height:18px; }
	
	.calendarViewList .entry a .time,
	.calendarViewList .entry .event .time	{ position:static; top:auto; right:auto; width:auto; font-size:13px; text-align:left; }
	
	.calendarViewList .entry a .title,
	.calendarViewList .entry .event .title 	{ padding-right:0; }

}