@charset "utf-8";
/* ------------------------------------------------------------------------------ */
/* common video */
/* ------------------------------------------------------------------------------ */

/* video container */
.videoContainer { display:block; position:relative; width:100%; height:auto; margin:8px auto 16px auto!important; padding:0; overflow:hidden; }		
.contentViewport .videoContainer div:first-child { margin-top:0!important; }

	/* video player container */
	.videoContainer .video,
		.videoContainer .videoHTML5,
			.videoContainer video,
		.videoContainer .videoFlash { width:100%!important; height:100%!important; margin:0 auto; padding:0; background-color:#000; overflow:hidden; }
			
	/* maintain AR */
	.videoContainer .videoHTML5 { position:relative; padding-top:56.25% /*360/640*/; }
	
	/* fullscreen */
	.videoContainer .videoHTML5.vjs-fullscreen 		{ padding-top:0; }
	.videoContainer .videoHTML5:-webkit-full-screen { padding-top:0; }
	
	/* poster */
	.videoContainer .vjs-poster { position:absolute!important; top:0; left:0; }
	
	/* no flash */
	.noflash { color:#aaa; text-align:center; padding:0!important; }
	.noflash a,
	.noflash a:hover,
	.noflash a:focus { color:#ccc; text-decoration:underline; }
	

/* ------------------------------------------------------------------------------ */
/* popup video */
/* ------------------------------------------------------------------------------ */

/* popup video container */
.videoContainerPopup { 
	display:block; position:absolute; top:0; left:0; width:100%; height:100%; margin:0 auto!important; padding:0; overflow:visible; z-index:2000;
	/*background-gradient*/
	background-color:rgba(0,0,0,0.8);
	-ms-filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000, endColorstr=#CC000000);
	zoom:1; }

	/* videoBg */
	.videoContainerPopup .videoBg { 
		display:block; position:absolute; top:50%; width:100%; height:auto; margin:0 auto; padding:0; overflow:visible; }

		/* video player container */
		.videoContainerPopup .video { 
			display:block; height:auto; margin:0 auto; padding:0; 
			background:#000; border:none; }
			
/* custom dimensions */

/* 640x360 */
.videoContainerPopup.videoContainer640360				{  }
.videoContainerPopup.videoContainer640360 .video		{ max-width:640px; max-height:360px; width:100%; height:100%; }
.videoContainerPopup.videoContainer640360 .videoHTML5 	{ padding-top:56.25% /*360/640*/; }

/* 640x400 */
.videoContainerPopup.videoContainer640400 				{  }
.videoContainerPopup.videoContainer640400 .video 		{ max-width:640px; max-height:400px; width:100%; height:100%; }
.videoContainerPopup.videoContainer640400 .videoHTML5 	{ padding-top:62.50% /*400/640*/; }

/* 854x480 */
.videoContainerPopup.videoContainer854480 				{  }
.videoContainerPopup.videoContainer854480 .video 		{ max-width:854px; max-height:480px; width:100%; height:100%; }
.videoContainerPopup.videoContainer854480 .videoHTML5 	{ padding-top:56.20% /*480/854*/; }

/* fullscreen */
.vjs-full-window .videoContainerPopup .videoHTML5,
.videoContainerPopup .videoHTML5.vjs-fullscreen			{ padding-top:0!important; }
.videoContainerPopup .videoHTML5:-moz-full-screen		{ padding-top:0!important; }
.videoContainerPopup .videoHTML5:-webkit-full-screen	{ padding-top:0!important; }

/* posFix */
#container.posFix  			{ top:0; left:0; width:100%; height:100%; }
.oldie #container.posFix 	{ left:50%; width:960px; margin-left:-480px; }
